services:
  dcat-ap-no-validator-service:
    build: .
    image: ghcr.io/informasjonsforvaltning/dcat-ap-no-validator-service:test
    ports:
      - "8000:8080"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=secret
      - CONFIG=production
      - TIMEOUT=0
      - LOGGING_LEVEL=DEBUG
    depends_on:
      - "redis"
  redis:
    image: redis
    ports:
      - "6379:6379"
    command: redis-server --requirepass secret
