[tool.poetry]
authors = ["Stig B. Dørmænen <stigbd@gmail.com>"]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
]
description = "The service validates a graph against dcat-ap-no specification"
homepage = "https://github.com/Informasjonsforvaltning/dcat-ap-no-validator-service"
license = "Apache-2.0"
name = "dcat-ap-no-validator-service"
readme = "README.md"
repository = "https://github.com/Informasjonsforvaltning/dcat-ap-no-validator-service"
version = "0.1.0"

[tool.poetry.dependencies]
aiohttp = "^3.9.0"
aiohttp-client-cache = {extras = ["redis"], version = "^0.9.1"}
aiohttp-middlewares = "^2.2.0"
certifi = "^2023.7.22"
dataclasses-json = "^0.5.7"
gunicorn = "^20.1.0"
multidict = "^6.0.2"
pyshacl = "^0.20.0"
python = ">=3.9,<3.11"
python-dotenv = "^0.21.0"
python-json-logger = "^2.0.2"
rdflib = "^6.1.1"
redis = {extras = ["hiredis"], version = "^5.0.1"}

[tool.poetry.group.dev.dependencies]
aiohttp-devtools = "^1.0.post0"
aioresponses = "^0.7.3"
black = "^22.6.0"
codecov = "^2.1.12"
coverage = "^6.4.1"
flake8 = "^5.0.4"
flake8-annotations = "^2.9.0"
flake8-bandit = "^4.1.1"
flake8-black = "^0.3.3"
flake8-bugbear = "^22.6.22"
flake8-docstrings = "^1.7.0"
flake8-import-order = "^0.18.1"
markdown-it-py = "2.2.0"
mypy = "^0.981"
nox = "^2022.1.7"
nox-poetry = "^1.0.1"
pep8-naming = "^0.13.0"
pytest = "^7.1.2"
pytest-aiohttp = "^1.0.4"
pytest-asyncio = "^0.19.0"
pytest-cov = "^4.0.0"
pytest-docker = "^2.0.1"
pytest-mock = "^3.8.1"
pytest-profiling = "^1.7.0"
requests = "^2.31.0"
safety = "^2.3.5"
types-redis = "^4.6.0.7"
types-requests = "^2.31.0.6"

[tool.coverage.paths]
source = ["dcat_ap_no_validator_service", "*/site-packages"]

[tool.coverage.run]
branch = false
omit = ["*gunicorn_config.py"]
source = ["dcat_ap_no_validator_service"]

[tool.coverage.report]
fail_under = 100
show_missing = true

[tool.mypy]
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
strict = false
warn_unreachable = true

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "gunicorn.*",
  "pytest_mock.*",
  "aioresponses.*",
  "pyshacl.*",
  "pythonjsonlogger.*",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
markers = [
  "unit: marks tests as unit (fast)",
  "integration: marks tests as integration (slower)",
  "contract: marks test as contract (slow)",
]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
